* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

:root {
    --secondary-color: #DB4444;
}

.btn {
    color: #FAFAFA;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 48px;
    border-radius: 4px;
    border: none;
    background: #DB4444;
}

.btn:hover {
    cursor: pointer;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    
}

h1 {

    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    /* 125% */
    letter-spacing: 1.92px;
}

h2 {
    color: #DB4444;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

h3 {
    color: #000;


    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1.44px;
}

h4 {
    color: #000;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

h5 {
    color: #000;

    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
}

h6 {
    color: #000;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.28px;
}

a {
    color: #000;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
}

.container {

    max-width: 1170px !important;
    margin: 0 auto;

}


.promo-header {
    background-color: #000;
    padding: 12px 0;
}

.promo-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 231px;
    color: #FAFAFA;

}



.promo-message a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FAFAFA;
    margin-left: 10px;

}

.promo-message p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-header .language-selector select {
    color: #FAFAFA;
    border: none;
    background-color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;

}

.main-header .container .logo {

    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    letter-spacing: 0.72px;
}

.main-header {
    margin-top: 40px;
    padding-bottom: 16px;
    border-bottom: 0.5px rgb(0, 0, 0, 0.3) solid;
}

.main-header .header-content,
.main-navigation,
.navigation-menu,
.header-actions,
.user-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation-menu {
    gap: 48px;
}

.navigation-menu a {
    text-decoration: none;
}

.navigation-menu a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(0, 0, 0, 0.5);
}

.header-content {
    justify-content: space-between;
    /* gap: 148px; */
}

.header-actions .search-bar, .overlay .search-bar {
    position: relative;

}

.header-actions {
    gap: 24px;

}

.header-actions input, .overlay .search-bar input {
    padding: 7px 42px 7px 20px;
    border-radius: 4px;
    background: #F5F5F5;
    border: none;
    width: 180px;
    height: 24px;
    opacity: 0.5;

    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
   
    /* 150% */
}

.header-actions .search-bar .search-btn , .overlay .search-bar .search-btn {
    position: absolute;
    border: none;
    background: none;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}



.user-menu {
    gap: 16px;
}

.user-menu img {
    display: block;
}

.user-menu img:hover {
    transform: scale(1.2);
}


.menu-btn i {

    font-size: 30px
}

.menu-btn {
    display: none;
}


.overlay .search-bar input{
   opacity: 1;
}

.overlay .search-bar{
    display: none;
}

.overlay{
    height: 0;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0);
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.overlay .closebtn {
    position: absolute;
    top: 50px;
    right: 45px;
    font-size: 60px;
    color: #FAFAFA;
    text-decoration: none;
    opacity: 0.8;
}
.overlay .closebtn:hover{
    opacity: 1;
}

.overlay-content ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #FAFAFA;
}
.overlay-content ul li a{
    color: #FAFAFA;
    font-size: 25px;
    opacity: 0.8;
}

.overlay-content ul li a:hover{
    opacity: 1;
}



.side-nav-carousel .menu{
  
    list-style: none;
    
    padding: 26px 0;
}
.side-nav-carousel .menu .dropdown-btn{
    display: flex;
}


.side-nav-carousel  a{
    text-decoration: none;
    
}

.side-nav-carousel .swiper{
    overflow: visible !important;
    overflow-x: clip !important;
}
.side-nav-carousel{
    /* border-bottom: 0.5px rgb(0, 0, 0, 0.3) solid; */
    display: none;
}
.side-nav-carousel .dropdown-menu{
    list-style: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 120px;
}

.nav-carousel .swiper-wrapper{
    transition-timing-function:linear!important;
}


.side-nav {
    white-space: nowrap;
    max-width: 217px;
    padding: 40px 16px 0 0;
    width: 100%;
    border-right: 0.5px rgb(0, 0, 0, 0.3) solid;
}

.side-nav ul {
    list-style: none;

}

.side-nav ul li a:hover, .dropdown-menu li a:hover {
    background-color: rgb(228, 227, 227);
}

.side-nav ul li {
    padding-top: 15px;
}

.side-nav ul li:first-child {
    padding-top: 0px !important;
}

.side-nav ul li a, .dropdown-menu li a {
    text-decoration: none;
    padding-left: 5px;
    display: block;
}

.side-nav ul .dropdown-btn:hover {
    background-color: rgb(228, 227, 227);
}


.side-nav ul .dropdown-btn, .side-nav-carousel ul .dropdown-btn {
    border: none;
    background: none;
    color: #000;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
}

.side-nav-carousel ul .dropdown-btn {
    justify-content: center;
}
.dropdown-btn img {
    display: block;
}

.dropdown-btn:hover {
    cursor: pointer;
}

.dropdown-menu  {
    padding-top: 5px;
    padding-left: 20px;
    display: none;
}

.dropdown-menu li {
    padding-top: 2px !important;
}

.active {
    background-color: rgb(228, 227, 227) !important;
}

.hero-content {
    display: flex;
    /* justify-content: space-between; */
    gap: 45px;
}


.offers-carousel {

    position: relative;
    margin-top: 40px;
    /* max-width: 892px; */
}


.offers-carousel .swiper-slide {
    width: 100% !important;
    height: auto;
}

.offers-carousel .swiper-slide {
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;


}



.offers-carousel .swiper-slide img {

    width: 100%;
    height: auto;

}

.offers-carousel .slide-content {
    max-width: 294px;
    height: 100%;
    /* margin: 58px 64px 47px 38px; */
    left: 50px;
    color: #FAFAFA;
    text-align: start;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.offers-carousel .slide-content a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    color: #FAFAFA;
    padding-top: 22px;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}

.offers-carousel .slide-content p {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 22px;
}

.offers-carousel .slide-content p img {
    display: block;
    width: 40px;
    height: 49px;
}

.offers-carousel .slide-content a img {
    display: block;

    height: 24px;
    width: 24px;
}




.flash-sales {
    margin-top: 140px;

}

.heading {
    display: flex;
    align-items: center;
    gap: 16px;
}

.heading-icon {
    width: 20px;
    height: 40px;
    background-color: var(--secondary-color);
}

.inner-heading {
    display: flex;
    align-items: end;
    gap: 30px;
    white-space: nowrap;
    padding-top: 13px;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}



.inner-heading-name {
    transform: translateY(8px);
}

.duration {
    display: flex;
    align-items: center;
    gap: 10px;
}

.duration p {
    color: #000;

    padding-bottom: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 150% */
}

.duration-colon {


    padding-left: 16px;
    color: var(--secondary-color);
}

.carousel-controller {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    
}

.carousel-controller img {
    display: block;


}

.carousel-controller img:hover {
    cursor: pointer;
}

.flash-sales-carousel {
    margin-top: 40px;
    margin-bottom: 60px;
}

.flash-sales-carousel .swiper-slide,
.best-selling-carousel .swiper-slide,
.products-carousel .swiper-slide, .side-nav-carousel .swiper-slide {
    background-color: transparent;
    
    display: flex;
    justify-content: center;
    height: auto;
}


.side-nav-carousel .swiper-slide{
    width: auto !important;
    max-width: 100%; 
    display: inline-block; 
}

.item-card {
    max-width: 270px;
    
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out;
}

.item-card:hover {
    cursor: pointer;


}

.item-card:hover .add-to-cart {
    display: block;

}


.add-to-cart {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 41px;
    border: none;
    background-color: #000;
    color: #FAFAFA;
    border-radius: 0px 0px 4px 4px;
    color: #FFF;

    /* Title/16PX Medium */
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: none;

}

.add-to-cart:hover {
    cursor: pointer;
}


.item-card .item-img {
    width: 190px;
    height: 170px;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding: 40px;
    position: relative;
}

.item-card .product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-details {
    padding-top: 16px;
    text-align: start;
}

.item-details .price h4 {
    padding-top: 8px;
    color: var(--secondary-color) !important;
}

.item-details .price .discounted-price {
    padding-left: 12px;
    color: #000;
    text-decoration: line-through;
    opacity: 0.5;
}

.item-details .ratting img {
    width: 100px;
    height: 20px;
}

.item-details .ratting {
    padding-top: 8px;
    display: flex;
    gap: 8px;
}

.item-card .fill-heart,
.fill-eye {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.fill-eye:hover,
.fill-heart:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.fill-eye {
    top: 54px;
}

.discount-percentage {
    padding: 4px 12px;
    color: #FAFAFA;
    background-color: var(--secondary-color);
    display: inline-block;
    border-radius: 4px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.allProductsBtn {
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 0.5px rgb(0, 0, 0, 0.3) solid;
}

.categories-section {
    margin-top: 80px;

}

.categories-section .inner-heading {
    padding-top: 20px;
}

.categories-carousel {
    margin-top: 60px;
    padding-bottom: 70px;
    
}

.categories-carousel .swiper-slide {
    background-color: transparent;
    /* width: 170px !important; */
    display: flex;
    justify-content: center;
    height: auto;
}

.categories-carousel .category-item {
    width: 59px;
    height: 96px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.30);

}

.categories-carousel .category-item:hover {
    background-color: var(--secondary-color);
}

.categories-carousel .category-item img {
    width: 56px;
    height: 56px;

}

.categories-carousel .category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 170px;
    height: 145px;
}

.categories-carousel .category-item p {
    color: #000;


    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}



.this-month {
    margin-top: 70px;
}

.this-month .inner-heading {
    justify-content: space-between;
}

.best-selling-carousel {
    margin-top: 60px;
    margin-bottom: 140px;
}


.this-month .container .banner {
    width: 100%;
    height: auto;

    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    
}

.banner .banner-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-content{
    padding: 40px 0 40px 40px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}
.banner-content , .banner-image{
    flex: 1 1 0;
    min-width: 0;
}

.banner-content h2 {
    color: #0F6;

}

.banner-content h1 {
    color: #FAFAFA;
    max-width: 443px;
}

.banner-content .time {
    display: flex;
    align-items: center;
    gap: 24px;
}

.banner-content .time h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    color: #000;
    width: 62px;
    height: 62px;
    border-radius: 50%;

}

.banner-content .time h2 span {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

}

.banner-content .btn {
    background-color: #0F6;
    margin-top: 8px;

}

.products-section {
    margin-top: 71px;
}

.products-carousel {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    height: 750px;
}

.products-carousel .productSwiper {
    width: 100%;
    height: 100%
}

.featured-section {
    margin-top: 140px;
}

.featured-thumbs {
    margin-top: 60px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
    color: #FAFAFA;
}

.featured-thumbs img {
    width: 100%;
    height: auto;
}

.thumb-1,
.thumb-2,
.thumb-left,
.thumb-3,
.thumb-4 {
    position: relative;
}

.featured-thumbs h3 {
    color: #FAFAFA;

    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.72px;
}

.featured-thumbs .thumb-description {
    position: absolute;
    bottom: 32px;
    left: 32px;
    max-width: 242px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.featured-thumbs .thumb-description a {
    color: #FAFAFA;

}

.featured-thumbs .thumb-2 .thumb-description {
    bottom: 66px;
    left: 24px;
}

.thumb-right-subpart {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.featured-thumbs .thumb-3 .thumb-description,
.thumb-4 .thumb-description {
    bottom: 24px;
    left: 24px;
}


.featured-services {
    margin-top: 140px;
    text-align: center;
    display: flex;
    gap: 88px;
    justify-content: center;
    align-items: center;
}

.featured-services h5 {
    margin-top: 24px;
}


footer {
    margin-top: 140px;
    display: flex;
    background: #000;
    padding: 80px 0px 24px 0px;
    flex-direction: column;

    align-items: center;
    gap: 60px;

}

footer .footer-logo {
    color: #FAFAFA;
    margin-bottom: 8px;

    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 100% */
    letter-spacing: 0.72px;
}

footer h5 {
    color: #FAFAFA;
    margin-bottom: 8px
}

footer p {
    color: #FAFAFA;


    font-size: 16px;

    line-height: 24px;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 87px;
    flex-wrap: wrap;
}

footer input {
    width: 100%;
    padding: 12px 0px 12px 16px;
    border-radius: 4px;
    border: 1.5px solid #FAFAFA;
    background-color: transparent;
    opacity: 0.7;
    color: #FAFAFA;
}

footer .subscribe {
    position: relative;
}

footer .subscribe img {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

footer .exclusive-section,
footer .support-section,
footer .account-section,
footer .quick-link-section,
footer .download-app-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .support-section p {
    max-width: 175px;
}



footer a,
.account-section ul li a {
    color: #FAFAFA;
    text-decoration: none;
    display: block;
}

.account-section ul,
.quick-link-section ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
}

.download-app-section .download-links {
    display: flex;
    gap: 8px;
}

.download-app-section .download-links .download-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.download-btn img:hover {
    cursor: pointer;
}



.download-app-section p {
    color: #FAFAFA;
    opacity: 0.7;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 150% */
}

.social-links {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.social-links img:hover {
    transform: scale(1.2);
}

.copyright {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 6px;
    opacity: 0.5;

    color: #FFF;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    

}

.copyright img {
    display: block;
}

.swiper-pagination-bullet-active{
    background: var(--secondary-color) !important;
}
.swiper-pagination-bullet{
    background: #f0bdbd !important;
}
@media screen and (max-width: 425px) {


    .featured-thumbs .thumb-2 .thumb-description{
        bottom: 32px !important;
    }
    .exclusive-section, .support-section, .account-section, .quick-link-section, .download-app-section{
        flex: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h3{
        font-size: 25px !important;
    }

    .offers-carousel .swiper-slide{
        height: 200px;
    }
}

@media screen and (max-width:690px) {

    h3{
        font-size: 30px;
    }

    .featured-services{
        gap: 40px;
        flex-wrap: wrap;
    }

    .banner-content{
        gap: 10px !important;
    }

    .banner-content .btn{
        padding: 5px 10px !important;
    }

    .banner-content .time{
        gap: 5px !important;

        
    }
    .banner-content .time h2 span{
        font-size: 8px;
        line-height: 12px;
    }
    .banner-content .time h2{
        font-size: 10px !important;
        line-height: 8px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .banner .banner-content h1{
        font-size: 15px !important ;
        line-height: 25px !important;
    }


    .flash-sales-carousel, .products-carousel, .best-selling-carousel, .categories-carousel{
        margin-top: 20px;
    }

    .inner-heading .view-all-btn .btn{
        float: right;
    }

    .inner-heading .view-all-btn{
        flex: 100%;
        
    }

     .inner-heading .carousel-controller{
        flex: 100%;
        justify-content: end;
    }

    .offers-carousel .slide-content{
        max-width: 250px;
        left: 20px;
    }

    .offers-carousel .slide-content a{
        padding-top: 5px !important;
    }

    .offers-carousel .slide-content p img{
        width: 30px;
        height: 30px;
    }
    .offers-carousel .slide-content p{
        padding-bottom: 10px;
        gap: 10px;
    }


    .offers-carousel .slide-content h1{
        font-size: 20px !important;
        line-height: 25px !important;
    }
    .search-bar {
        display: none;
    }
    .overlay .search-bar{
        display: block;
    }
   
}

@media screen and (max-width: 930px) {

    .featured-thumbs .thumb-right .thumb-right-subpart{
        justify-content: center;
    }
    
    .featured-thumbs .thumb-left, .featured-thumbs .thumb-right{
        flex: 100%;
    }
    .featured-thumbs{
        flex-wrap: wrap;
        
    }

    .banner-content{
        gap: 20px;
    }

    .banner-content .btn{
        padding: 5px 20px;
    }

    .banner-content .time{
        gap: 10px;
    }
    .banner-content .time h2{
        line-height: 8px;
        width: 55px;
        height: 55px;
    }

    .banner .banner-content h1{
        font-size: 30px ;
        line-height: 35px;
    }

    .inner-heading .inner-heading-name{
        flex: 100%;
    }

    .offers-carousel .slide-content a{
        padding-top: 15px;
    }
    .offers-carousel .slide-content p{
        padding-bottom: 10px;
    }


    .offers-carousel .slide-content h1{
        font-size: 40px;
        line-height: 40px;
    }

    .main-header .main-navigation {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .promo-content{
        gap: 100px;
        justify-content: space-between !important;
    }
   
}

@media screen and (max-width: 1200px) {
    

    .container {
        padding: 0 20px;
    }
    .side-nav-carousel{
        display: block;
    }

    .side-nav{
        display: none;
    }
    .hero-content{
        flex-wrap: wrap;
    }
 
}